{{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="text-align: center">
        <button class="btn btn-outline-warning">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}
