{% extends 'base.html.twig' %}

{% block title %}Devenir propriétaire{% endblock %}

{% block body %}
    <h1>Créer un profil de propriétaire</h1>

    <div style="text-align:center;">
        {{ include('owner/_form.html.twig') }}
    </div>
{% endblock %}
